* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .panel {
    width: 800px;
    height: 50vh;
    flex: 0.5;
    box-sizing: border-box;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    position: relative;
    margin: 10px;
    transition: all 700ms ease-in;
  }
  
  h3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 3s;
  }
  
  .active {
    flex: 5;
  }
  
  .bgImg1 {
    background-image: url('imges/panne1.jpg');
  }
  
  .bgImg2 {
    background-image: url('imges/panel2.jpg');
  }
  
  .bgImg3 {
    background-image: url('imges/panel3.jpg');
  }
  
  .bgImg4 {
    background-image: url('imges/panel4.jpg');
  }
  
  .bgImg5 {
    background-image: url('imges/panel5.jpeg');
  }
  