
   body {
    background-color: #313131;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .search {
    position: relative;
  }
  
  .input {
    padding: 0;
    width: 0;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }
  
  .input:focus {
    outline: none;
    width: 300px;
  }
  
  .btn {
    padding: 12px 18px;
    margin-left: -32px;
    border: 1px solid gray;
    font-size: 18px;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .search.active .input {
    padding: 12px;
    width: 300px;
  }
  
  .search .input {
    padding: 12px;
  }
  
