body{

    background-color: #313131;
    color: white;

}

.search{
    position: absolute;
    top: 45%;
    left: 45%;
    
}


.input{
    padding: 0px;
    width: 0;
    font-size: 18px;
    border: 1px solid gray;   
}

.btn{
    padding: 12px 18px;
    margin-left: -30px;
    border: 1px solid gray;
    font-size: 18px;
    z-index: 100;

   
}

.search.active .input{
    padding: 12px;
    width: 300px;
    transition: width 0.3s linear;
}

.search .input{
    padding: 12px;
    transition: width 0.3s linear;
}


