* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    padding-top: 60px;
    
  }
  


  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .project-link {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-style: italic;
    font-weight: 500;
    margin-top: 5px;
  }
  
  /* .project-link.left-column {
    grid-column: 1;
  }
  
  .project-link.right-column {
    grid-column: 2;
  }
   */