* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: white;
    background-color: black;
    padding-top: 60px;
  }
  

  



  .bi{
    position: absolute;
    top: 100px;
    right: 50px;

    background-color: #fff;
    color: black;
    padding: 3px 8px;
    font-size: 25px;
    border-radius: 50px;
  }

  .bi-sun{
    display: none;
  }


  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  

  .projects {
    display:flex;
    flex-direction: column;
  }
  
  .project-link {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #ffffff;
    font-style: italic;
    font-weight: 500;
   
    margin-top: 5px;
  }
  
  /* .project-link.left-column {
    grid-column: 1;
  }
  
  .project-link.right-column {
    grid-column: 2;
  }
   */